<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="これからのテンプレートは目的に応じて選ぶ時代へ。あなたの目的を達成できるテンプレートがここにある。">
  <title>THE TEMPLATE | 世界一簡単に選べるテンプレートサイト</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= yield %>
</html>
